<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!-- CONTENT HERE -->
    <div class="container-fluid">
        <div class="container" style="width:90% !important;">
            <br>
            <div class="text-center">
                <h1>Stock List</h1>
            </div>
            <div class="d-flex justify-content-end"> 
                <a href="/user/admin/add" class="btn btn-warning">Add Menu</a>
            </div>
            <br>
            <table class="table-bordered" >
                <thead>
                    <tr class="bg-warning">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th style="width: 90px">Price</th>
                        <th>Stock</th>
                        <th style="width: 120px">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% foods.forEach((menu)=>{ %>
                        <tr>
                            <td><%= menu.id %></td>
                            <td><%= menu.name %></td>
                            <td><%= menu.description %></td>
                            <td>
                                <img src="<%= menu.img_url %>" alt="" width="200" height="200">
                            </td>
                            <td><%= changeFormatPrice(menu.price) %></td>
                            <td><%= menu.quantity %></td>
                            <td style="width: 140px">
                                <div class="text-center">
                                    <a href="/user/admin/<%= menu.id %>/edit" class="btn btn-primary">Edit</a>
                                    <a href="/user/admin/<%= menu.id %>/delete" class="btn btn-danger">Delete</a>
                                </div>
                            </td>
                            
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>


<!-- END OF CONTENT HERE -->
<%- include('./partials/footer') %>