<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!-- CONTENT HERE -->
    <div class="container">
        <a href="/user/admin/add">Add Menu</a>
        <table border="1" >
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>img_url</th>
                    <th>price</th>
                    <th>Stock</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% foods.forEach((menu)=>{ %>
                    <tr>
                        <td><%= menu.id %></td>
                        <td><%= menu.name %></td>
                        <td><%= menu.description %></td>
                        <td>
                            <img src="<%= menu.img_url %>" alt="" width="200" height="200">
                        </td>
                        <td><%= menu.price %></td>
                        <td><%= menu.quantity %></td>
                        <td>
                            <a href="/user/admin/<%= menu.id %>/edit">Edit</a>
                            <a href="/user/admin/<%= menu.id %>/delete">Delete</a>
                        </td>
                        
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>


<!-- END OF CONTENT HERE -->
<%- include('./partials/footer') %>