<!DOCTYPE html>
<%- include('./partials/header') %>
    <%- include('./partials/navbar') %> 
    <br>
    <div class="text-center">
        <h1>Edit Menu</h1>
    </div>   
         <div class="container">
            <form action = "/user/admin/<%= dataMenu.id %>/edit" method="post">
                <div class="mb-3">
                  <label class="form-label">Name</label>
                  <input type="text" class="form-control" name="name" value="<%= dataMenu.name %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control" name="description" value="<%= dataMenu.description %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Image URL</label>
                    <input type="text" class="form-control" name="img_url" value="<%= dataMenu.img_url %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input type="text" class="form-control" name="price" value="<%= dataMenu.price %>">
                </div>
                <div class="mb-3">
                    <label class="form-label">Stock</label>
                    <input type="text" class="form-control" name="quantity" value="<%= dataMenu.quantity %>">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
                <a href="/user/admin" class="btn btn-danger">Cancel</a>
              </form>
        </div>
    
</body>
</html>

