<%- include('./partials/header') %>
<%- include('./partials/navbar') %>
<!-- CONTENT HERE -->

<!-- Catalog Section -->
<div class="container">
    <!-- <div class="mt-4 jumbotron jumbotron-fluid" style="border-radius: 20px;">
        <h1 class="display-4">Ads Here</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.
        </p>
    </div> -->
    <div id="content" class="mt-5 d-flex flex-wrap product-catalog justify-content-center">
    <% foods.forEach((menu)=>{ %>
            <div class="card" style="width: 18rem;">
                <img src="<%= menu.img_url %>" class="card-img-top" id ="img" onclick = "window.location.href = '/food/<%= menu.id %>' " alt="...">
                <div class="card-body">
                    <!-- Yamin Original Shirataki -->
                    <span class="badge badge-warning"><%= menu.name.includes('Original') ? "Original" : menu.name.includes('Yamin') ? "Yamin" : "Shirataki" %></span>
                    <h5 class="card-title product-card-name font-weight-bold"><%= menu.name %></h5>
                    <div class = "d-flex justify-content-between">
                        <p class="product-card-price">Price : <%= menu.price %></p>
                        <p class="product-card-stock">Stock:<%= menu.quantity %></p>
                    </div>
                    <span class="badge badge-primary"> Description</span>
                    <div class="description">
                        <p><%= menu.description.substring(0,95) %>...</p>
                    </div>
                    <span class="d-inline-block mt-1" style="width: 100%; text-align: right;">
                        <!-- <a href="#" class="btn btn-success btn-addToCart">Add to cart</a> -->
                        <button class="btn btn-success btn-addToCart" onClick="addToCart(<%= menu.id %>)">Add to cart</button> 
                    </span>
                </div>
            </div>
            <% }) %>
    <div>
</div>
<!-- END PRODUCT PAGE SECTION  -->
<!-- END OF CONTENT HERE -->
<%- include('./partials/footer') %>